:root {
  --heading-font: "Lexend Deca", sans-serif;
  --default-font: 'Poppins', sans-serif;
  --branding-color: #f67280;
  --heading-color: #6c5b7c;
  --secondary-color: #c06c84;
  --third-color: #f8b595;
}

body {
  font-family: var(--default-font);
  background: rgba(246, 114, 128, 0.05);
}

h1, h2, h3 {
    font-family: var(--heading-font);
    font-weight: bold;
}

h1 {
  font-size: 64px;
  color: var(--third-color);
}

h2 {
    font-size: 28px;
    color: var(--third-color);
}

h3 {
    font-size: 36px;
    color: var(--heading-color);
}

h4 {
    font-size: 30px;
    color: var(--heading-color);
}

p {
    font-size: 20px;
    color: var(--heading-color);
    font-weight: bold;
}

a {
    font-size: 20px;
    color: var(--heading-color);
    text-decoration: none;
}

a:hover {
    color: var(--heading-color);
    text-decoration: none;
}

.btn-branding {
    background-color: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding:hover {
    background-color: var(--secondary-color);
    color: white;
}

.NavigationBar {
   background-color: rgba(246, 114, 128, 0.2);
}

.NavigationBar a {
    color: var(--branding-color)!important;
    font-weight: bold;
}

.Home .hero {
    margin-top: 100px;
    text-align: center;
    padding: 10px 20px;
}

.Home .hero h2 {
  line-height: 2;
  font-family: var(--default-font)!important;
}

.Home .hero p {
    margin: auto 80px;
}

.Home .hero img {
    margin: 15px;
}

.Home .hero-name {
    color: var(--heading-color);
}

.Home .featured-projects img {
    width: 75%;  
    margin: 0 auto;
}

.Home .contact-box {
    background: rgba(246, 114, 128, 0.2);
    border-radius: 120px;
    margin: 150px;
    padding: 30px 80px;
}

.Home .contact-box h3 {
    font-size: 48px;
}

.Footer {
   background-color: rgba(246, 114, 128, 0.2);
}

.Footer a {
    color: var(--secondary-color);
}

.Footer .social-links a {
    margin: 20px;
    font-size: 30px;
    padding: 10px 14px;
}

.Footer small {
    font-size: 11px;
    color: var(--secondary-color);
}

.Footer small a {
    font-size: 11px;
    color: var(--heading-color);
}