:root {
  --heading-font: "Lexend Deca", sans-serif;
  --default-font: 'Poppins', sans-serif;
  --branding-color: #f67280;
  --heading-color: #6c5b7c;
  --secondary-color: #c06c84;
  --third-color: #f8b595;
}

body {
  font-family: var(--default-font);
  background: rgba(246, 114, 128, 0.05);
}

h1, h2, h3 {
    font-family: var(--heading-font);
    font-weight: bold;
}

h1 {
  font-size: 64px;
  color: var(--third-color);
}

h2 {
    font-size: 28px;
    color: var(--third-color);
}

h3 {
    font-size: 34px;
    color: var(--heading-color);
}

h4 {
    font-size: 30px;
    color: var(--heading-color);
}

p {
    font-size: 20px;
    color: var(--heading-color);
    font-weight: bold;
}

a {
    font-size: 20px;
    color: var(--heading-color);
    text-decoration: none;
}

a:hover {
    color: var(--heading-color);
    text-decoration: none;
}

.btn-branding {
    background-color: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding:hover {
    background-color: var(--secondary-color);
    color: white;
}

.NavigationBar {
   background-color: rgba(246, 114, 128, 0.2);
}

.NavigationBar a {
    color: var(--branding-color)!important;
    font-weight: bold;
    padding: 15px;
}

.NavigationBar a:hover {
    color: var(--heading-color)!important;
}

.NavigationBar .active-link {
  color: var(--heading-color)!important;
}

.NavigationBar .language-button {
    padding-left: 15px;
}

.Home .hero {
    margin-top: 100px;
    text-align: center;
    padding: 10px 20px;
}

.Home .hero h2 {
  line-height: 2;
  font-family: var(--default-font)!important;
}

.Home .hero p {
    margin: auto 80px;
}

.Home .hero img {
    margin: 15px;
}

.Home .hero-name {
    color: var(--heading-color);
}

.Home .featured-projects img {
    width: 75%;  
    margin: 0 auto;
}

.Home .contact-box {
    background: rgba(246, 114, 128, 0.2);
    border-radius: 120px;
    margin: 150px;
    padding: 30px 80px;
}

.Home .contact-box h3 {
    font-size: 48px;
}

.About .hero {
    margin-top: 150px;
    padding: 10px 20px;
}

.About img {
    width: 50%;  
    margin: 0 auto;
    border-radius: 50%;
}

.About .about-description {
    padding: 30px;
}

.About .about-description h3 {
    color: var(--third-color);
    font-size: 28px;
}

.About .about-description h2 {
    font-size: 46px;
    color: var(--branding-color);
}

.About .about-description p {
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}

.About .featured-skills h3 {
    margin-top: 100px;
    color: var(--secondary-color);
}

.About .skills-icons {
    margin-right:80px;
    margin-left: 80px;
    font-size: 60px;
    color: var(--secondary-color);
}

.About .skills-icons p {
    color: var(--secondary-color);
    text-align: center;
}

.About .education-description h3 {
    margin-top: 100px;
}

.About .education-description ul {
    color: var(--heading-color);
    font-size: 24px;
    margin-left: 150px;
    margin-bottom: 100px;
}

.Projects h1 {
    color: var(--branding-color);
    margin-top: 100px;
}

.Projects .portfolio-content {
    width: 80%;
    border: 1px solid var(--branding-color);
    border-radius: 90px;
    margin: 80px auto;
}

.Projects a {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s ease
}

.Projects a:hover {
    opacity: 0.5;
}

.Projects .portfolio-images {
    background-color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 70px;
   
}

.Projects .portfolio-images img {
    width: 75%;
    border-radius: 20px;
}

.Projects .project-info h2 {
    color: var(--branding-color);
    padding: 10px;
    font-size: 30px;
}

.Projects .project-info p {
    font-weight: 400;
}

.Contact .work-heading {
    margin-top: 120px;
}

.Contact .contact-data a {
    font-size: 30px;
    font-weight: 300;
}

.Contact .contact-data ul {
    list-style: none;
    font-size: 30px;
    color: var(--secondary-color);
    padding: 0;
}

.Contact .contact-image {
    display: block;
    margin: 0px auto;
}

.Footer {
   background-color: rgba(246, 114, 128, 0.2);
}

.Footer a {
    color: var(--secondary-color);
}

.Footer .social-links a {
    margin: 20px;
    font-size: 30px;
    padding: 10px 14px;
}

.Footer small {
    font-size: 11px;
    color: var(--secondary-color);
}

.Footer small a {
    font-size: 11px;
    color: var(--heading-color);
}

@media (max-width: 1200px) {
   h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 24px;
    }

    .btn-branding {
        font-size: 16px;
        padding: 10px 20px;
    }
    
    .Home .hero p {
        margin: auto;
    }

    .Home .featured-projects img {
        width: 100%;
    }

    .About .hero {
        margin-top: 100px;
    }

    .About .featured-skills h3 {
        margin-top: 30px;
    }

    .About .skills-icons {
        font-size: 40px;
        margin: 0;
    }

    .About .skills-icons p {
        font-size: 12px;
    }

    .About .education-description h3 {
       margin-top: 60px;
    }

    .About .education-description ul {
        margin: 0;
        padding: 0px 30px;
        font-size: 22px
    }

    .Projects .portfolio-content {
        width: 100%;
        border: none;
    }

    .Contact .work-heading {
        margin-top: 40px;
    }

    .Footer .social-links a {
        font-size: 25px;
        margin: 18px;
    }

    .Footer small {
        font-size: 10px;
    }

}